canvas {
  border: 1px solid black;
}

video {
  border: 1px solid blue;
  /* width: 323px!important;
	height: 360px!important; */
}

.popup {
  width: 22%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}
.popup .imgcard {
  width: 100%;
  max-height: 426px;
}

.cross {
  position: absolute;
  width: 13%;
  right: 0;
  z-index: 55;
}
