canvas {
  border: 1px solid black;
}

video {
  border: 1px solid blue;
  /* width: 323px!important;
	height: 360px!important; */
}

.popup {
  width: 22%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.popup .imgcard {
  width: 100%;
  max-height: 426px;
}

.cross {
  position: absolute;
  width: 9%;
  right: 0;
  z-index: 55;
}
button.btn_ {
  position: absolute;
  top: 20%;
  z-index: 5;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px dotted white;
  outline: none;
  background: #eb3939;
  color: white;
  display: none;
}

button.btn_2 {
  position: absolute;
  top: 37%;
  z-index: 5;
  left: 66%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px dotted white;
  outline: none;
  background: #eb3939;
  color: white;
  display: none;
}
